<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/fonts/stylesheet.css" />
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <!--========================= header =========================-->
    <div class="header">
      <div class="header__top">
        <div class="container">
          <div class="header__top__city">
            <img src="img/loc.svg" alt="" class="header__top__city__icon" />
            <div class="header__top__city__title">Москва</div>
            <img src="img/arrow.svg" alt="" class="header__top__city__arrow" />
          </div>
          <a href="tel:+7 (499) 922-88-19" class="header__top__phone">
            <img src="img/phone.svg" alt="" class="header__top__phone__icon" />
            <div class="header__top__phone__title">+7 (499) 922-88-19</div>
          </a>
        </div>
      </div>
      <div class="header__bottom">
        <div class="container">
          <a href="" class="header__bottom__logo">
            <img src="img/logo.svg" alt="" />
          </a>
          <ul class="header__bottom__links">
            <li>
              <a href="">Частным клиентам</a>
            </li>
            <li>
              <a href="">Корпоративным клиентам</a>
            </li>
            <li>
              <a href="">О компании </a>
            </li>
            <li>
              <a href="">Контакты </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--=========================END header =========================-->

    {% block content %} {% endblock %}

    <!--========================= footer =========================-->
    <div class="footer">
      <div class="container">
        <a href="" class="footer__logo">
          <img src="img/logo__white.svg" alt="" />
        </a>
        <ul class="footer__navbar">
          <li>
            <a href="">Частным клиентам</a>
          </li>
          <li>
            <a href="">Корпоративным клиентам</a>
          </li>
          <li>
            <a href="">О компании </a>
          </li>
          <li>
            <a href="">Контакты </a>
          </li>
        </ul>
        <ul class="footer__contacts">
          <!-- footer__contacts__item -->
          <li class="footer__contacts__item">
            <div class="footer__contacts__item__label">Адрес:</div>
            <div class="footer__contacts__item__title">
              109377, г. Москва <br />
              ул. Новокузьминская 1-я д. 19
            </div>
          </li>
          <!--END footer__contacts__item -->
          <!-- footer__contacts__item -->
          <li class="footer__contacts__item">
            <div class="footer__contacts__item__label">E-mail:</div>
            <div class="footer__contacts__item__title">
              med-spravki@mail.ru
            </div>
          </li>
          <!--END footer__contacts__item -->
          <!-- footer__contacts__item -->
          <li class="footer__contacts__item">
            <div class="footer__contacts__item__label">Телефон:</div>
            <div class="footer__contacts__item__title">+7 (495) 786-0017</div>
          </li>
          <!--END footer__contacts__item -->
        </ul>
        <div class="footer__phoneblock">
          <a href="" class="footer__phone">+7 (495) 786-0017</a>
          <button class="btn head__btn" data-modal-show="1">
            Заказать обратный звонок
          </button>
        </div>
      </div>
    </div>
    <!--=========================END footer =========================-->
    <!--========================= footer__2 =========================-->
    <div class="footer__2">
      <div class="container">
        <div class="footer__2__content">
          <div class="footer__2__copyright">© 2020 ООО “Мед-справка”</div>
          <a class="footer__2__politics" target="_blank" href="https://masterstroi-kbu.ru/wp-content/uploads/2020/08/politika.pdf">Политика конфиденциальности</a>
          <a target="_blank" href="https://masterstroi-kbu.ru/wp-content/uploads/2020/08/soglashenie.pdf">Пользовательское соглашение</a>
        </div>
      </div>
    </div>
    <!--=========================END footer__2 =========================-->

    <script src="js/jquery.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
